{% extends "layout.html" %}

{% block content %}

{% load static %}

<header class="row bg-black">
    <div class="col-md-4">
        <img src="{% static 'portfolio/ccc.jpg' %}" alt="" style="max-height: 300px; width: auto;" >
    </div>

    <div class="col-md-8 my-auto">
        <h1> <strong>CHRISTIAN BURNS</strong> </h1>
        <h3>Programador Python / Django</h3>
        <p>Soy una persona que se esfuerza por
            mantener buenos hábitos y seguir los
            ejemplos positivos. Me gusta escuchar
            y aprender de los más
            experimentados, manteniendo siempre
            la humildad necesaria para adquirir
            nuevos conocimientos. Entiendo que
            la soberbia puede llevar al error, por lo
            que prefiero ser disciplinado y valorar
            el aprendizaje continuo. Me considero
            una persona con valores sólidos y
            buena disposición, siempre dispuesto
            a ayudar a mis compañeros, ya que
            creo firmemente que al mejorar ellos,
            mejoro yo también. Estas enseñanzas
            fueron fundamentales en mi educación
            y forman parte de mi ética de trabajo.</p>
        <a href="{% static 'portfolio/CV.pdf' %}" class="btn btn-primary btn-lg rounded-0 my-3">Download CV</a>
    </div>

</header>

<div class="row my-4 text-center">

    <h3>Mis Proyectos</h3>
    <p>Dejo algunos de mis proyectos realizados hasta el momento, junto al link de mi repositorio de Github donde podran encontrar todo mis trabajos:</p>
    
    {% for project in projects %}

<div class="col-md-4 p-4">
    <div class="card bg-black card-project">
        <img src="{{project.imagen.url}}" alt="{{project.titulo}}" class="card-img-top">
        <div class="card-body">

            <h2> {{project.titulo}} </h2>
            <p> {{project.descripcion}} </p>

                {% if project.url %}
            <a href="{{project.url}}" class="btn btn-light round-0 btn-sm" target="_blank">{{project.url}}</a>
                {% endif %}

        </div>
    </div>
</div>

{% endfor %}

{% endblock  %}
</div>





